* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    display: block;
}

::-webkit-scrollbar {
    width: 7px;

}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #000000a4; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.61); 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.897); 
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/jammy-jellyfish-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 100%;
}

.cabecalho {
    background-color: black;
    max-height: 30px;
}

.infos {
    padding: 8px;
    font-size: .75em;
    margin: 0 10px 0 10px;
    font-weight: bolder;
}

.infos ul {
    color: white;
}

.infos ul li {
    list-style: none;
    padding-bottom: 5px;
}

.infos ul li.hover:hover {
    border-bottom: 2.8px solid orangered; 
    cursor: default;
}

.infos ul li i {
    color: white;
}

.infos ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    width: 100px;
    justify-content: space-around;
}

.icons ul li {
    margin-left: 10px;
}

.icons:hover {
    border-bottom: 2.8px solid orangered; 
}

.barra-lateral {
    width: 50px;
    height: 94vh;
    background-color: rgba(0, 0, 0, 0.300);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barra-lateral a:hover {
    cursor: default;
}

.itens-barra-lateral p {
    color: white;
}

.itens-barra-lateral {
    padding: 14px 6px 14px 6px;
    text-align: center;
    border-radius: 5%;
}

.itens-barra-lateral:hover {
    background-color: rgba(146, 146, 146, 0.315);
}

.itens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    margin-top: 20px;
}

.icon-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.icons-desktop {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     padding: 2px;
}

.atalhos {
    text-align: center;
    border-radius: 5%;
    padding: 15px 10px 15px 10px;
 }
 
 .atalhos p {
     margin-top: 6px;
     color: white;
     font-size: 11px;
     font-weight: bold;
 }


main {
    display: flex;
    justify-content: space-between;
}

.teste {
    display:flex;
    flex-direction:column;
    
}
