* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    display: block;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/jammy-jellyfish-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 100%;
}

.cabecalho {
    background-color: black;
    max-height: 30px;
}

.infos {
    padding: 8px;
    font-size: .90em;
    margin: 0 10px 0 10px;
    font-weight: bolder;
}

.infos ul {
    color: white;
}

.infos ul li {
    list-style: none;
    padding-bottom: 5px;
}

.infos ul li.hover:hover {
    border-bottom: 2.8px solid orangered; 
    cursor: default;
}

.infos ul li i {
    color: white;
}

.infos ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    width: 100px;
    justify-content: space-around;
}

.icons ul li {
    margin-left: 10px;
}

.icons:hover {
    border-bottom: 2.8px solid orangered; 
}

.barra-lateral {
    width: 50px;
    height: 95.5vh;
    background-color: rgba(0, 0, 0, 0.300);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barra-lateral a:hover {
    cursor: default;
}

.itens-barra-lateral p {
    color: white;
}

.itens-barra-lateral {
    padding: 13px 5px 13px 5px;
    text-align: center;
    border-radius: 10%;
}

.itens-barra-lateral:hover {
    background-color: rgba(146, 146, 146, 0.315);
}

.itens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    margin-top: 20px;
}

.icon-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#load {
    position: fixed;
    display: block;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }

 .icons-desktop {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     padding: 10px;
 }

 .atalhos {
     text-align: center;
     margin-top: 20px;
     height: 7vh;
     padding: 10px 3px 10px 3px;
     border-radius: 10%;
 }
 
 .atalhos p {
     margin-top: 6px;
     color: white;
 }

 .atalhos:hover {
     background-color: rgba(255, 255, 255, 0.2);
     cursor: default;
 }

main {
    display: flex;
    justify-content: space-between;
}